<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Fabled Lands Character Manager</title>
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <div class="background">
    </div>
    <div class="menu">
      <a class="button" href="/create">Create New Character</a>
      <a class="button" href="/load">Load Pre-made Character</a>
      <a class="button" href="/browse">Browse Saved Characters</a>
    </div>
  </body>
</html>
